<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLName</key>
			<string>com.lestarlu.matchly</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>matchly</string>
				<string>com.googleusercontent.apps.735180718367-7tmrfjjh2i6v12lspmjmba7fa8lg7b6t</string>
			</array>
		</dict>
	</array>
</dict>
</plist>
